# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
.vscode

# Custom
_meta
themes/learn2/
config/security.yaml
plugins/*
!plugins/.gitkeep
themes/learn2/
config/versions.yaml
data/scheduler/status.yaml
