
[submodule "sites/4.0"]
	path = sites/4.0
	url = https://github.com/userfrosting/learn.git
	branch = 4.0
[submodule "sites/4.1"]
	path = sites/4.1
	url = https://github.com/userfrosting/learn.git
	branch = 4.1
[submodule "sites/4.2"]
	path = sites/4.2
	url = https://github.com/userfrosting/learn.git
	branch = 4.2
[submodule "sites/4.3"]
	path = sites/4.3
	url = https://github.com/userfrosting/learn.git
	branch = 4.3
[submodule "sites/4.4"]
	path = sites/4.4
	url = https://github.com/userfrosting/learn.git
	branch = 4.4
[submodule "sites/4.5"]
	path = sites/4.5
	url = https://github.com/userfrosting/learn.git
	branch = 4.5
[submodule "sites/4.6"]
	path = sites/4.6
	url = https://github.com/userfrosting/learn.git
	branch = 4.6
[submodule "sites/5.0"]
	path = sites/5.0
	url = https://github.com/userfrosting/learn.git
	branch = 5.0
[submodule "sites/5.1"]
	path = sites/5.1
	url = https://github.com/userfrosting/learn.git
	branch = 5.1
