[submodule "sites/develop"]
	path = sites/develop
	url = https://github.com/userfrosting/learn.git
	branch = develop
[submodule "sites/4.0"]
	path = sites/4.0
	url = https://github.com/userfrosting/learn.git
	branch = 4.0
[submodule "sites/master"]
	path = sites/master
	url = https://github.com/userfrosting/learn.git
	branch = master
[submodule "sites/4.1"]
	path = sites/4.1
	url = https://github.com/userfrosting/learn.git
	branch = 4.1
[submodule "sites/4.2"]
	path = sites/4.2
	url = https://github.com/userfrosting/learn.git
	branch = 4.2
[submodule "sites/4.3"]
	path = sites/4.3
	url = https://github.com/userfrosting/learn.git
	branch = 4.3
[submodule "sites/4.4"]
	path = sites/4.4
	url = https://github.com/userfrosting/learn.git
	branch = 4.4
