[submodule "branches/develop"]
	path = branches/develop
	url = https://github.com/userfrosting/learn.git
	branch = develop
[submodule "branches/4.0"]
	path = branches/4.0
	url = https://github.com/userfrosting/learn.git
	branch = 4.0
