services:
  app:
    restart: unless-stopped
    tty: true
    build:
      context: ./docker/app
    env_file:
      - ./app/.env
    volumes:
      - .:/app
      - ./docker/app/php/custom.ini:/usr/local/etc/php/conf.d/custom.ini
    networks:
      - backend
  nginx:
    restart: unless-stopped
    tty: true
    ports:
      - "8080:80"
    build:
      context: ./docker/nginx
    volumes:
      - .:/app
    depends_on:
      - app
    networks:
      - frontend
      - backend
  vue-frontend:
    restart: unless-stopped
    tty: true
    build:
      context: .
      dockerfile: ./docker/vue/Dockerfile
    env_file:
      - ./app/.env
    ports:
      - "5173:5173"
    volumes:
      - .:/app
    networks:
      - frontend
networks:
  frontend:
  backend:
    driver: bridge
