{% extends "layout/dashboard.html.twig" %}

{% block page_title %} | {{ page.getTitle() }}{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <div class="chapter-content">
        {% include "partials/wip.html.twig" %}
        {% include "partials/obsolete.html.twig" %}
        {{ page.getContent()|raw }}
    </div>
{% endblock %}