{% extends "layout/dashboard.html.twig" %}

{% block page_title %} | {{ page.getTitle() }}{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <!-- TODO : Add breadcrumbs -->
    <!-- TODO : Add TOC -->
    <!-- TODO : Add GitHub Button-->
    <!-- TODO : Fix style to match old style, including headers -->
    <!-- TODO : Add Notice Markdown -->
    <!-- TODO : Add images support -->
    <!-- TODO : Improve Code markdown -->
    <!-- TODO : Add Chapter template -->

    <h1>{{ page.getTitle() }}</h1>
    <div>
        {{ page.getContent()|raw }}
    </div>
{% endblock %}