{% extends "layout/dashboard.html.twig" %}

{% block page_title %} | {{ page.getTitle() }}{% endblock %}
{% block page_description %}{% endblock %}

{% block page_content %}
    <!-- TODO : Add breadcrumbs -->
    <!-- TODO : Add TOC + Header anchor -->
    <!-- TODO : Add GitHub Button-->
    <!-- TODO : Add Notice Markdown -->
    <!-- TODO : Add images support, with versions -->
    <!-- TODO : Add versioned link (?) -->
    <!-- TODO : Improve Code markdown : Code highlighting -->
    <!-- TODO : Add blockquote style -->
    <!-- TODO : Copy to Clipboard -->
    <!-- TODO : Navigation links -->
    <!-- TODO : Add Chapter number in sidebar -->

    <div class="docs-content">
        <h1>{{ page.getTitle() }}</h1>
        {{ page.getContent()|raw }}
    </div>
{% endblock %}