{% extends "layout/dashboard.html.twig" %}

{% block page_title %} | {{ title }}{% endblock %}
{% block page_description %}{{ description }}{% endblock %}

{% block page_content %}
    <div class="chapter-content">
        <h1>{{ title }}</h1>
        <p class="uk-text-center">{{ description }}</p>
    </div>
{% endblock %}