{% extends "layout/dashboard.html.twig" %}

{% block page_title %} | {{ title }}{% endblock %}
{% block page_description %}{{ description }}{% endblock %}

{% block page_content %}
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
{% endblock %}