#nav-main {
    transition: top 0.2s ease 0s;
    -webkit-transition: top 0.9s ease 0s;
    -moz-transition: top 0.9s ease 0s;
    -o-transition: top 0.9s ease 0s;
}

#nav-nav {
    width: 100%;
    z-index: 100;
}

.fixed {
    position: fixed;
    top: 0;
}

#nav-wrap {
    position: relative;
}

#mobile-nav {
    display: flex;
    justify-content: space-around;
    padding: 6px 0px;
}

#mobile-nav a {
    color: #222;
}

#mobile-nav a:hover { color: white;}

@media (max-width: 1018px) {
    .navbar-fixed {
        display: none;
    }
}

@media (min-width: 1018px) {
    #sidebar {
        margin-top: 18px;
    }
    #header {
         background-color: #38424d !important;
    }
    #mobile-nav { display: none;}
}

nav.custom {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    background-color: #ee6e73;
    /*background-color: #26a69a;
    background-color: #2695a6;
    background-color: #106c93;*/
    width: 100%;
    height: 56px;
    line-height: 56px;
    display: block;
}

nav.custom .nav-wrapper {
    position: relative;
    height: 100%;
}

.navbar-fixed {
    z-index: 9999;
}

.navbar-fixed nav {
    position: fixed;
}

nav.custom .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}

.brand-logo {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

nav.custom a {
    color: #fff;
}

nav.custom a.button-collapse {
        display: none;
}

@media only screen and (min-width: 601px) {
    nav.custom, nav.custom .nav-wrapper i, nav.custom a.button-collapse, nav.custom a.button-collapse i {
        height: 64px;
        line-height: 64px;
    }
    .navbar-fixed {
        height: 64px;
    }
    .navbar-fixed {
        position: relative;
    }
}

nav.custom ul {
    margin: 0;
}

nav.custom ul li {
    transition: background-color .3s;
    float: left;
    padding: 0;
    list-style-type: none;
}

nav.custom ul li a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14.5px;
}

nav.custom ul a {
    transition: background-color .3s;
    font-size: 14.5px;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav.custom ul a:hover {
    background-color: rgba(0,0,0,0.1);
}


nav.custom ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
}

nav.custom .btn, nav.custom .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

nav.custom .btn, nav.custom .btn-large, nav.custom .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

nav.custom a.btn {
    transition: all 0.5s ease!important;
}

nav.custom a:hover {
    cursor: pointer;
}

nav.custom a:active, nav.custom a:hover {
    outline: 0;
}

nav.custom .btn:hover, nav.custom .btn-large:hover {
    background-color: #2bbbad;
}

nav.custom .right {
    float: right !important;
}

nav.custom .z-depth-1, nav.custom, nav.custom .btn, nav.custom .btn-large, nav.custom .dropdown-content, nav.custom .collapsible {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


@media only screen and (min-width: 992px) {
    nav.custom ul li a, nav.custom a, nav.custom ul a {
        font-size: 14.5px;
    }
}

@media only screen and (min-width: 1200px) {
    nav.custom ul li a, nav.custom a, nav.custom ul a {
        font-size: 15px;
    }
}






