

/* Global Styles
=====================*/

a {
    color: #d45d61;
}

a:hover {
    color: #f56c68;
}

a.nav-next, a.nav-prev {
    color: #f77e83;
}

a.nav-next:hover, a.nav-prev:hover {
    color: #ff8b8e;
}



/* Sidebar Styles
=====================*/

#header {
    background-color: #ee6e73;
}

#logo {
    line-height: normal;
    display: table;
}

#sidebar ul li.visited > a .read-icon {
    color: #ee6e73;
}

.logo-title {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 10px;
    vertical-align: middle;
}

.logo-image {
    vertical-align:middle;
}



/* Search box
=====================*/

.searchbox {
    border-color: #f7e2e5;
    background-color: #fff;
}

.searchbox label,
.searchbox span {
    color: #444;
}

.searchbox input {
    color: #444;
    height: 35px;
}

.searchbox input:focus {
    border-color: #444;
    box-shadow: inset 0 1px 3px rgba(51, 51, 51, 0.06), 0 0 5px #31ddcf;
}

.searchbox input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #999;
}

.searchbox input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}

.searchbox input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}

.searchbox input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #999;
}


/* TOC Styles
=====================*/

.toc {
}

.toc h1 {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2rem;
    border-bottom: 2px solid #38424d;
}

.toc ol {
    list-style-type: none;
    padding-left: 0px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: .5rem;
    font-size: 18px;
}

.toc ol ol {
    margin-left: 2rem;
    font-size: 16px;
    font-weight: 100;
}

.toc li a:before {
    content: '#';
    padding-right: 5px;
}

/* Typography
=====================*/

#chapter h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
}

h2 {
    font-size: 2rem;
    /*background-color: #dcf2f5;
    padding-left: 20px;*/
    border-bottom: 1px solid #ee6e73;
}

h3 {
    font-size: 1.5rem;
    color: #555;
    border-bottom: 1px dashed #999;
}

#chapter h3 {
    font-size: 2rem;
    color: inherit;
}

h3:before {
    /*content: "";
    padding-right: .5rem;
    display: inline-block;
    background: url("../images/dot.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;*/
}

#chapter h3:before {
    content: none;
}

h4 {
    font-size: 1.2rem;
}

/*h4:before {
    content: '_';
    padding-right: .5rem;
}*/

h5 {
    font-size: 1rem;
    font-style: italic;
}

h5:before {
    content: '----';
    margin-right: .5rem;
    font-weight: 700;
    font-size: 20px;
}

pre {
    border-color: #f6f6f6;
    box-shadow: 1px 1px 1px 1px #b5b5b5;
}

code {
    background-color: rgba(206, 239, 239, 0.44);
    color: #062938;
    border-radius: 0px;
}

pre code {
    color: #3a3e3d;
    background: none;
    font-size: 16.5px;
}

.copy-to-clipboard {
    background-color: #e7f2f9;
    margin-left: 0;
    top: -1.25px;
    width: 22px;
    height: 23px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.copy-to-clipboard:hover {
    background-color: #cce3ec;
}

blockquote code, blockquote .copy-to-clipboard {
    background-color: rgba(129, 136, 142, 0.13);
}

blockquote p {
    color: #555;
    background-color: rgba(0, 128, 128, 0.13);
    padding-left: .5rem;
}

blockquote>blockquote>p,
blockquote>blockquote>blockquote>p,
blockquote>blockquote>blockquote>blockquote>p,
blockquote>blockquote>blockquote>blockquote>blockquote>p,
blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>p {
    /*border-top-color: rgba(247, 196, 198, 0.42);
    background-color: #fbf1f1;
    color: #555;
    border-top-color: rgba(0, 128, 128, 0.74);
    background: #e7f5f5;*/
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}

blockquote>blockquote>blockquote>blockquote>p {
    /*border-top-color: rgba(238, 110, 115, 0.99);
    background-color: rgb(253, 242, 243);*/
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}

blockquote p:first-child:after,
blockquote > blockquote p:first-child:after,
blockquote > blockquote > blockquote p:first-child:after,
blockquote > blockquote > blockquote > blockquote p:first-child:after,
blockquote > blockquote > blockquote > blockquote > blockquote p:first-child:after,
blockquote p:first-child:before,
blockquote > blockquote p:first-child:before,
blockquote > blockquote > blockquote p:first-child:before,
blockquote > blockquote > blockquote > blockquote p:first-child:before,
blockquote > blockquote > blockquote > blockquote > blockquote p:first-child:before {
    color: white;
    font-weight: inherit;
}


h3 .copy-to-clipboard {
    height: 32px;
}

.hljs {
  color: #3e3d3d;
}

.hljs-comment,
.hljs-title {
  color: #7b7b7b;
}

.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-strong,
.hljs-bullet {
  color: black;
}

.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant,
.hljs-emphasis {
  color: #c14a40;
}

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header {
  color: #4b5d01;
}

.hljs-symbol,
.hljs-link_label  {
  color: #286469;
}

.hljs-function {
  color: #0d6084;
}

.hljs-keyword,
.hljs-link_url  {
    color: #07a;
}


