{% extends "pages/abstract/base.html.twig" %}

{% block content %}
<div>
    {% include "partials/header.html.twig" %}
    {% include "partials/sidebar.html.twig" %}
    <div class="uf-main uk-section uk-section-default" uk-height-viewport="expand: true">
        <div class="uk-container">
            {% include "partials/breadcrumbs.html.twig" %}
            <main>
                {% block page_content %}{% endblock %}
            </main>
        </div>
    </div>
    {% include "partials/footer.html.twig" %}
</div>
{% endblock %}