{% extends "pages/abstract/base.html.twig" %}

{% block head_extra %}
    {{ parent() }}
    {% if page is defined and page.getVersion() is not null %}
        {% set route = page.getRoute() %}
        {% set base_href = route == '' ? '/' : route %}
        <base href="{{ base_href }}">
    {% endif %}
{% endblock %}

{% block content %}
<div>
    {% include "partials/header.html.twig" %}
    {% include "partials/sidebar.html.twig" %}
    <main class="uk-section uk-section-default uk-section-xsmall">
        <div class="uk-container">
            {% include "partials/breadcrumbs.html.twig" %}
            <div class="uk-section">
                {% block page_content %}{% endblock %}
            </div>
            <div class="pager">
                <a class="pager-prev" href="{{ previousPage.getRoute() }}"> <i class="fa fa-chevron-left"></i></a>
                <a class="pager-next" href="{{ nextPage.getRoute() }}"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </main>
</div>
{% endblock %}