<div class="uf-page-header">
    <nav aria-label="Breadcrumb">
        <ul class="uk-breadcrumb">
            {% for crumb in breadcrumbs %}
                <li>
                    {% if loop.index == breadcrumbs|length %}
                        <span aria-current="page">{{ crumb.label }}</span>
                    {% else %}
                        <a href="{{ crumb.url }}">
                        {% if loop.index == 1 %}
                            <i class="fas fa-home"></i>
                        {% else %}
                            {{ crumb.label }}
                        {% endif %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>