<footer class="uk-section uk-section-xsmall uk-text-center uk-light">
    <hr />
    {% include "content/navigation/footer.html.twig" %}
    <div>{{ translate("BUILT_WITH_UF") | raw }}</div>
    <div>
        {{ translate('THEME_BY') }}
        <a
            href="http://getuikit.com"
            title="Visit UIkit 3 site"
            target="_blank"
            data-uk-tooltip>
            <span data-uk-icon="uikit"></span>
        </a>
    </div>
</footer>