<header>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <div class="uk-navbar-container">
            <div class="uk-container uk-container-expand">
                <nav class="uk-navbar" uk-navbar>
                    <ul class="uk-navbar-nav uk-hidden@m">
                        <li>
                            <a
                                class="uk-navbar-item uk-logo"
                                uk-toggle="target: #uf-sidenav-aside; cls: open">
                                <font-awesome-icon icon="bars" />
                            </a>
                        </li>
                    </ul>
                    <div class="uk-navbar-left" data-test="navbar-left">
                        <a href="{{ urlFor('index', [], [], '/') }}" class="uk-navbar-item uk-logo">{{site.title}}</a>
                    </div>
                    <div class="uk-navbar-right" data-test="navbar-right">
                        <ul class="uk-navbar-nav">
                            {% include "content/navigation/navbar.html.twig" %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>