{% if page.getFrontMatter().obsolete %}
    <div class="uk-alert uk-alert-danger">
        <p class="uk-alert-title"><i class="fa-solid fa-clock uk-icon"></i>Obsolete page</p>
        <p>This page requires updating for UserFrosting 6. You can help by <a href="{{ page.github }}">contributing on GitHub</a>.</p>
    </div>
{% endif %}