{% if page.getFrontMatter().metadata.obsolete %}
    <div class="uk-alert uk-alert-danger">
        <p class="uk-alert-title"><i class="fa-solid fa-clock uk-icon"></i>Obsolete page</p>
        <p>This page requires updating for UserFrosting 6. You can help by <a href="https://github.com/userfrosting/learn/tree/main">contributing on GitHub</a> by using the "Edit this page" link at the top of the page.</p>
    </div>
{% endif %}