<aside class="uf-sidebar uk-visible@m">
    <ul class="uk-nav-default uf-nav-chaptered" uk-nav>
        <div class="uk-nav-header">Documentation</div>
        <div class="uk-nav-header">{% include 'partials/search.html.twig' %}</div>
        {% include 'content/navigation/sidebar.html.twig' %}
    </ul>
    {% include "partials/footer.html.twig" %}
</aside>
<div
    class="uk-hidden@m uk-offcanvas"
    id="offcanvas-sidebar"
    uk-offcanvas="overlay: true; selClose: .uf-sidebar-close">
    <div class="uf-sidebar uk-offcanvas-bar">
        <ul class="uk-nav-default" uk-nav>
            {% include "content/navigation/navbar.html.twig" %}
        </ul>
        <ul class="uk-nav-default uf-nav-chaptered" uk-nav>
            {% include 'content/navigation/sidebar.html.twig' %}
        </ul>
        {% include "partials/footer.html.twig" %}
    </div>
</div>