<a class="github-link" href="{{ config.github.repo.tree ~ ('/'~page.filePathClean)|replace({'/user/sites/':'', '/user/pages/':'5.1/pages/'}) }}" target="_blank">
    <i class="fa fa-github-square"></i> {{ 'THEME_LEARN2_GITHUB_EDIT_THIS_PAGE'|t }}
</a>
