<div class="navbar-fixed" id="nav-main">
    <nav class="custom">
        <div class="nav-wrapper">
          <a href="https://www.userfrosting.com" class="brand-logo" style="padding-left: 2rem; text-transform: uppercase">Userfrosting</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{url('features')}}">Features</a></li>
            <li><a href="https://learn.userfrosting.com/installation" target="_blank">Get Started</a></li>
            <li><a href="https://learn.userfrosting.com/troubleshooting/getting-help" target="_blank">Get Help</a></li>
            <li><a href="https://learn.userfrosting.com/" target="_blank">Docs</a></li>
            <li><a href="https://forums.userfrosting.com" target="_blank">Forums</a></li>
            <li><a href="https://chat.userfrosting.com" target="_blank">Chat</a></li>
            <li><a class="btn" href="https://pledgie.com/campaigns/29583" target="_blank">Donate</a></li>
          </ul>
        </div>
    </nav>
</div>
  