<div class="version-select">
    <label>Version: </label>
    <select>
        {% for label, version in config.versions.branches %}
            <option {% if config.environment == label %}selected="selected" {% endif %}value="{{ uri.base }}{{ version.path }}{{ uri.path }}">
                {{ version.label }}
            </option>
        {% endfor %}
    </select>
</div>
