@pager-width: 60px;
@pager-font-size: 50px;

main > .uk-container {
    padding-left: @pager-width + @global-gutter;
    padding-right: @pager-width + @global-gutter;
}

.pager {
    a.pager-next,
    a.pager-prev {
        position: fixed;
        top: 0;
        bottom: 0;
        width: @pager-width;
        font-size: @pager-font-size;
        height: 100%;
        cursor: pointer;
        display: table;
        text-align: center;
        color: @global-theme-color;
    }
    
    a.pager-next > i,
    a.pager-prev > i {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    a.pager-next:hover,
    a.pager-prev:hover {
        background: @global-muted-background;
        color: @global-theme-color;
        text-decoration: none;
    }

    a.pager-prev {
        left: @sidebar-width;
    }
    a.pager-next {
        right: 0;
    }

    // @media only all and (max-width: 59.938em) {
    //     .pager {
    //         display: table-cell;
    //         position: static;
    //         top: auto;
    //         width: 50%;
    //         text-align: center;
    //         height: 100px;
    //         line-height: 100px;
    //         padding-top: 0;
    //     }
    //     .pager > i {
    //         display: inline-block;
    //     }
    // }
}