# Updates the submodules in the website branch
name: Website

on:
  push:
    branches: [ master, develop, '4.*' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: website
      
      - name: Update submodule
        run: git submodule update --remote --merge

      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with: 
          author_name: Github Actions
          author_email: github-actions@github.com
          branch: website
          message: 'Updating submodules'
